version: "3.9"

services:
    postgres:
      image: postgres:16
      container_name: authServiceGestor
      restart: always
      environment:
        POSTGRES_DB: GestorDeOpinionesDB
        POSTGRES_USER: admin
        POSTGRES_PASSWORD: admin
      ports:
        - "5437:5432"
      volumes:
        - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: